.hero {
	position: relative;

	height: 100vh;

	text-align: center;
}

:global(.no-webp) {
	.hero {
		background: url(../../img/hero_m.jpg) center center no-repeat;
		background-size: cover;
	}
}

:global(.webp) {
	.hero {
		background: url(../../img/hero_m.webp) center center no-repeat;
		background-size: cover;
	}
}


.heroContent {
	position: relative;
	z-index: 1;
}

@media screen and (min-width: 520px) {
	.hero {
		text-align: left;
	}

	:global(.no-webp) {
		.hero {
			background: url(../../img/hero_t.jpg) center center no-repeat;
			background-size: cover;
		}
	}

	:global(.webp) {
		.hero {
			background: url(../../img/hero_t.webp) center center no-repeat;
			background-size: cover;
		}
	}

	.heroContent {
		display: inline-flex;
		flex-direction: column;
		width: 410px;
	}
}

@media screen and (min-width: 740px) {
	:global(.no-webp) {
		.hero {
			background: url(../../img/hero.jpg) center center no-repeat;
			background-size: cover;
		}
	}

	:global(.webp) {
		.hero {
			background: url(../../img/hero.webp) center center no-repeat;
			background-size: cover;
		}
	}

	.heroContent {
		width: 575px;
	}
}

@media screen and (min-width: 1000px) {
	.heroContent {
		width: 660px;
	}
}
