@use '../../scss/variables.scss' as *;

.timeline {
	position: relative;
}

@media screen and (min-width: 740px) {
	.timeline {
		&:before {
			content: '';

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			width: 1px;
			margin: 0 auto;

			background-color: $offWhite;
		}
	}
}
