@use './variables.scss' as *;

@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans|Oswald:700|Raleway&display=swap');
@import url('./reset.scss');

html {
	scroll-behavior: smooth;
}

body {
	background-color: $white;

	font-family: $sans;
}
