$sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', 'Impact', sans-serif;
$raleway: 'Raleway', sans-serif;
$anton: 'Anton', 'Impact', sans-serif;

$white: #fff;
$almostWhite: #eee;
$offWhite: #ddd;
$lightGrey: #ccc;
$grey: #666;
$darkGrey: #323136;

$tinySpacing: 10px;
$smallSpacing: 20px;
$mediumSpacing: 30px;
$largeSpacing: 40px;
